@media screen and (max-width:768px) {
    .donas{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "donas__carta1 donas__carta2"
                             "donas__carta3 donas__carta4";
    }

    .donas__imagenes{
        width: 500px;
        height: 500px;
    }

    .footer-1{
        width: 100%;
        grid-template-columns:repeat(1,1fr) ;
        grid-gap: 30px;
        padding: 35px 0px;
        
    }
}


@media screen and (max-width:425px){
    .donas{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "donas__carta1"
                             "donas__carta2"
                             "donas__carta3"
                             "donas__carta4";
    }

    .foot{
        text-align: center; 
    }


    #Img__foot{
        display: none;
    }
}
